@import "../../../src/scss/index.scss";

.client-layout {
  background-color: $background-dark-web;
  min-height: 100vh;

  &-footer {
    margin-top: 150px;
    padding: 20px 0 10px 0;
    border-top: 80px solid $secundary;

    > .ui.container {
      display: flex;

      &:last-of-type {
        justify-content: space-between;
        margin-top: 30px;
        color: $text-light;
        opacity: 0.4;
      }
    }
  }
}
