@import "../../../../../src/scss/index.scss";

.list-post-item {
  display: flex;

  opacity: 1;
  &:hover {
    opacity: 0.4;
  }

  .list-post-item-wrapper {
    margin-left: 60px;
    text-align: justify;
  }

  .ui.image {
    border-radius: 20px;
    width: 350px;
    height: 250px;
    object-fit: cover;

    flex: 1 0 auto;
  }

  h2 {
    font-size: 20px;
    color: $text-hover;
    margin: 10px 0 10px 0;
    font-weight: bold;
  }

  span {
    text-align: justify;
  }

  .date {
    color: $text-light;
    opacity: 1;
    font-size: 14px;
    margin-top: 10px;
  }
}

@media (max-width: 1200px) {
  .list-post-item {
    display: flex;
    flex-direction: column;

    .list-post-item-wrapper {
      margin-left: 10px;
      text-align: justify;

      span {
        text-align: justify;
      }
    }

    .ui.image {
      border-radius: 20px;
      width: 100%;
      object-fit: cover;
      object-fit: inherit;
      flex: 1 0 auto;
    }
  }
}

@media (min-width: 1200px) and (max-width: 2400px) {
  .list-post-item {
    opacity: 1;
    &:hover {
      opacity: 0.4;
    }

    .list-post-item-wrapper {
      margin-left: 60px;
      text-align: justify;
    }

    .ui.image {
      border-radius: 20px;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      object-fit: inherit;
      flex: 1 0 auto;
    }

    h2 {
      font-size: 20px;
      color: $text-hover;
      margin: 10px 0 10px 0;
      font-weight: bold;
    }

    span {
      text-align: justify;
    }

    .date {
      color: $text-light;
      opacity: 1;
      font-size: 14px;
      margin-top: 10px;
    }
  }
}
