@import "../../../../src/scss/index.scss";
.top-bar {
  height: 150px;

  > .ui.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &-left {
    height: 100%;
    display: flex;
    align-items: center;

    .logo {
      height: 100%;
      > svg {
        height: 100%;
      }
    }

    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 50px;
      font-size: 20px;

      a {
        margin: 0 25px;
        color: $text-light;
        &.active {
          color: $primary-hover;
          text-decoration: underline;
          font-weight: bold;
        }
        &:hover {
          color: $text-hover;
          cursor: pointer;
        }
      }
    }
  }

  .social-media {
    > .ui.button {
      color: white;
      background-color: black;
      margin: -59px -57px 0 0;
      background: none;
      font-size: 25px;

      &:hover {
        background: none !important;
        background-color: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .top-bar {
    height: auto;
    padding: 0 20px;

    > .ui.container {
      flex-direction: column;
      justify-content: center;
    }

    &-left {
      height: auto;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 20px;

      .logo {
        height: auto;
        > svg {
          height: 150px;
        }
      }

      .menu {
        display: flex;
        flex-direction: column;

        margin-left: 0;

        a {
          margin-top: 25px;
          margin-bottom: 15px;
          font-size: 24px;
        }
      }
    }

    .social-media {
      display: none;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .top-bar {
    height: auto;
    padding: 0 20px;

    > .ui.container {
      flex-direction: column;
      justify-content: center;
    }

    &-left {
      height: auto;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 20px;

      .logo {
        height: auto;
        > svg {
          height: 150px;
        }
      }

      .menu {
        display: flex;
        flex-direction: column;

        margin-left: 0;
      }
    }

    .social-media {
      display: none;
    }
  }
}
