@import "../../../../src/scss/index.scss";

.home-courses {
  > h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: $text-light;
    margin: 50px 0 30px 0;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;

    > a {
      width: 50%;
      display: flex;
      padding: 10px;

      &:hover {
        opacity: 0.6;
      }

      .ui.image {
        height: 136px;
        width: 158px;
        object-fit: cover;
      }

      > div {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        > span {
          color: $text-light;
          &:first-of-type {
            font-weight: bold;
            font-size: 16px;
          }
          &:last-of-type {
            opacity: 0.4;
            font-size: 12px;
            padding-top: 6px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
        }
      }
    }
  }
  &-more {
    display: flex;
    justify-content: center;
    padding: 20px 0;

    > .ui.button {
      width: 200px;
    }
  }
}

@media screen and (max-width: 559px) {
  .home-courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ui.image {
      height: 136px;
      width: 158px;
      object-fit: cover;
      margin-bottom: 10px;
    }
    .home-courses-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
    }
    .home-courses-list a {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
    }
  }
}

@media screen and (min-width: 560px) and (max-width: 768px) {
  .home-courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ui.image {
      height: 136px;
      width: 158px;
      object-fit: cover;
      margin-bottom: 10px;
    }
    .home-courses-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
    }
    .home-courses-list a {
      width: 65%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .home-courses {
    .home-courses-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
