@import "../../../../../src/scss/index.scss";

.footer-info {
  width: 33.33%;
  color: $text-light;

  .logo {
    width: 5rem;
    display: flex;
    justify-content: center;
  }

  p {
    margin: 20px 20px;
    color: $text-light;
    opacity: 0.6;
  }

  .social-media {
    opacity: 0.6;
  }
}

@media screen and (max-width: 768px) {
  .footer-info {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .footer-info {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    .logo {
      width: 100px;
    }

    p {
      align-items: center;
    }
  }
}
