.menu-page {
  &-add {
    position: absolute;
    right: 0;
    top: 0;

    > .ui.button {
      margin: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .menu-page {
    .menu-page-add {
      position: static;
      right: 0;
      top: 0;

      > .ui.button {
        margin: 0;
      }
    }
    .ui.tab .menu {
      display: flex;
      flex-direction: column;
    }

    .ui.secondary.menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      a {
        margin: 5px;
      }
      > .ui.button {
        order: 1;
      }
    }
  }
}
