@import "../../../../src/scss/index.scss";

.courses-page {
  > .ui.image {
    margin: 0 auto;
  }

  > h2 {
    font-size: 18px;
    text-align: center;
    font-weight: 100;
    color: $text-light;
    opacity: 0.8;
    margin-bottom: 30px;

    h1 {
      color: $primary-hover;
      opacity: 1 !important;
    }

    p {
      text-align: justify;
      line-height: 1.7em;
    }
  }

  .courses {
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: 33.33%;
    }
  }

  .more {
    text-align: center;

    .ui.button {
      margin: 0;
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .courses-page {
    > .ui.image {
      width: 75%;
      margin: 0 auto;
      margin-top: 50px;
    }

    > .ui.button {
      width: 100px;
      box-sizing: border-box;
    }

    .courses {
      display: flex;
      justify-content: center;

      &-item {
        width: 75%;
        padding: 10px;
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .courses-page {
    > .ui.image {
      width: 300px;
      margin: 0 auto;
      margin-top: 50px;
    }

    > .ui.button {
      width: 100%;
      box-sizing: border-box;
    }

    .courses {
      display: flex;
      justify-content: center;

      &-item {
        image {
          width: 100%;
        }
        width: 50%;
      }
    }
  }
}
