@import "../../../../../src/scss/index.scss";

.footer-menu {
  width: 33.33%;

  > h4 {
    color: $text-light;
    display: flex;
    justify-content: center;
    opacity: 0.6;
  }

  .ui.grid {
    height: 100%;

    .column {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: -20px;
    }

    a {
      color: $text-light !important;
      opacity: 0.6;
      &:hover {
        color: $text-hover !important;
      }
    }

    p {
      color: $text-light !important;
      opacity: 0.9 !important;
      text-align: justify !important;
      margin-bottom: -10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer-menu {
    .ui.grid {
      flex-direction: column;
      display: flex;
      justify-content: center;
      margin: auto;
      width: 115%;
      .column {
        display: flex;
        width: 115%;
        justify-content: space-around;
      }

      a {
        font-size: 1rem;
        margin: 5px;
        width: 170px;
      }

      p {
        margin-bottom: 5px;
        width: 100px;
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .footer-menu {
    .ui.grid {
      flex-direction: column;
      display: flex;
      justify-content: center;
      margin: auto;
      width: 115%;
      .column {
        display: flex;
        width: 115%;
        justify-content: space-around;
      }

      a {
        font-size: 1rem;
        margin: 5px;
        width: 170px;
      }

      p {
        margin-bottom: 5px;
        width: 100px;
      }
    }
  }
}
